POSTGRES_DB=conveyor_db
POSTGRES_USER=conveyor_user
POSTGRES_PASSWORD=change_me

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/conveyor_db
SPRING_DATASOURCE_USERNAME=conveyor_user
SPRING_DATASOURCE_PASSWORD=change_me

SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080