.idea
conveyor.iml
conveyor/gradle
conveyor/.gradle
conveyor/build/
conveyor/gradlew
conveyor/gradlew.bat
conveyor/settings.gradle
deal/.gradle/
deal/gradle
deal/gradlew
deal/gradlew.bat
deal/settings.gradle
deal/build/
/zoo1
/kafka_server_jaas.conf
/data
# IDE
.idea/
*.iml

**/out/

# Gradle cache
**/.gradle/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

data/
kafka_server_jaas.conf/
zoo1/
.env
.env.*
!.env.example

application/gradlew
application/gradlew.bat
application/settings.gradle
conveyor/settings.gradle
application/build/
application/settings.gradle
