.idea
**/build
conveyor.iml
conveyor/gradle
conveyor/.gradle
**/build
conveyor/gradlew
conveyor/gradlew.bat
conveyor/settings.gradle
deal/.gradle
deal/gradle
deal/gradlew
deal/gradlew.bat
deal/settings.gradle
/zoo1
/kafka_server_jaas.conf
/data